/* reset */
a {
  text-decoration: none;
}

/* root */
:root {
  --full-width : 100%;
  --sub-width : 90%;
  --color : #222;
  --point-color : #c7ab87;
  --san-serif : 'Noto Sans KR', sans-serif;
  --serif : 'Playfair Display', serif;
  --desc-size : 1em;
  --title-size : 1.5em;
}
/* common */
.main-wrap .section .section-title {
  font-family: var(--serif);
  font-size: var(--title-size);
  line-height: 1.2;
  color: var(--color);
  font-weight: 700;
}

.main-wrap .section img {
  width: var(--full-width);
}

.main-wrap .section .collection-button {
  display: inline-block;
  border: 1px solid var(--point-color);
  padding: 5px 20px;
  margin-top: 20px;
  color: var(--point-color);
  font-family: var(--serif);
}

.section .collection-button > i {
  vertical-align: text-top;
}

.section .collection-button:hover {
  background-color: var(--point-color);
  color: var(--color);
  transition: .3s ease;
}

.hidden {
  display: none;
}

/* wrap */
.wrap {
  width: var(--full-width);
  min-height: 100%;
  box-sizing: border-box;
  font-family: var(--san-serif);
  color: var(--color);
  overflow: hidden;
}

.wrap .container {
  position: relative;
}

/* header */
.header {
  width: var(--full-width);
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

.header .header-contents {
  display: flex;
  align-items: center;
  padding: 1.5em 2em;
}

.header .header-contents .header-navigation {
  flex: 1;
}

.header-contents .header-navigation .header-navigation-items {
  display: flex;
}

.header-navigation-items .header-navigation-item > a {
  color: var(--color);
  margin-right: 20px;
  position: relative;
}

.header-navigation-items .header-navigation-item > a::after {
  position: absolute;
  content: "";
  height: 1px;
  top: 100%;
  background-color: var(--color);
  width: 0;
  right: 0;
  transition: width .3s;
  z-index: 2;
}

.header-navigation-items .header-navigation-item > a:hover::after {
  left: 0;
  width: 100%;
}

.header-contents .header-icon-search {
  width: 25px;
  cursor: pointer;
}

.header-contents .header-icon-search > img {
  width: var(--full-width);
  opacity: .8;
}

/* search-form */

.search-form-wrap {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
  text-align: right;
}

.search-form-wrap .close-button {
  display: inline-block;
}

.search-form-wrap .close-button > i {
  font-size: 40px;
  padding: 30px 30px 0;
  cursor: pointer
}

.search-form-wrap .serach-form-contents {
  position: relative;
  top: 20%;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.search-form-wrap .serach-form-contents .search-form  {
  margin-bottom: 3em;
}

.search-form-wrap .serach-form-contents .search-form > input {
  border-width: 0 0 1px;
  border-color: var(--color);
  width: 100%;
  outline: none;
  font-size: 20px;
  padding: 10px;
}

.search-form-wrap .serach-form-contents > span {
  color: var(--color);
  font-size: var(--title-size)
}

.search-form-wrap .serach-form-contents .search-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px;
  margin: 2em auto 0;
}

.serach-form-contents .search-list .search-list-item {
  flex: 1 1 25%;
  line-height: 2;
}

.search-list .search-list-item:after {
  content: "/";
  float: right;
  opacity: .6;
}

.search-list .search-list-item:nth-child(4):after,
.search-list .search-list-item:last-child:after {
  content: none;
}

.search-list .search-list-item > a {
  color: #666;
}


/* main */
.main {
  position: relative;
  top: 5em;
}

.main .main-wrap {
  position: relative;
}

.main .main-wrap .main-logo {
  position: relative;
  top: 30px;
  text-align: center;
}

.main-logo > a > img {
  width: var(--full-width);
  max-width: 850px;
}

/* main-section */
.main-section > img {
  width: var(--full-width);
  max-width: 2000px;
}

/* celebrites-section */
.celebrites-section .celebrites-contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: var(--sub-width);
  margin: 0 auto;
  padding: 10em 0;
}

.celebrites-section .celebrites-contents .celebrites-items {
  box-sizing: border-box;
}

.celebrites-section .celebrites-contents .celebrites-items:nth-child(2) {
  max-width: 400px;
}

.celebrites-contents .celebrites-items .celebrites-items-text {
  padding: 30px;
}

.celebrites-items .celebrites-items-text span {
  color: var(--point-color);
  text-transform: uppercase;
}

.celebrites-items .celebrites-items-text .section-title {
  margin: 20px 0;
}

.celebrites-items .celebrites-items-text > p  {
  font-size: var(--desc-size);
  color: #666;
  line-height: 1.5;
}

/* collection-section */
.collection-section {
  background: url(../images/logo-bg.png) no-repeat;  
  background-position: bottom 50px right 30px;
  background-size: 500px;
  background-color: #f6efe8;
}

.collection-section .collection-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--sub-width);
  margin: 0 auto;
  padding: 8em 0 12em;
}

.collection-section .collection-contents .collection-items {
  position: relative;
  flex: 2 1 0;
}

.collection-section .collection-contents .collection-items:last-child {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

.collection-contents .collection-items .collection-items-image {
  width: 60%;
  max-width: 700px;
  float: right;
}

.collection-contents .collection-items .collection-items-image:last-child {
  width: 45%;
  max-width: 500px;
  position: absolute;
  bottom: -80px;
}

.collection-contents .collection-items .collection-items-text{
  max-width: 300px;
}

.collection-items .collection-items-text > p {
  margin: 30px 0;
  line-height: 1.5;
  color: #666;
}

/* shoes-section */
.shoes-section .shoes-contents {
  display: flex;
  align-items: center;
}

.shoes-section .shoes-contents .shoes-items {
  flex: 1;
  text-align: center;
  box-sizing: border-box;
}

.shoes-contents .shoes-items span {
  line-height: 1.3;
}

.shoes-contents .shoes-items .shoes-items-image {
  max-width: 300px;
  margin: 30px auto;
}

/* footer */
.footer {
  background-color: #8f7e6f;
}

.footer .footer-contents {
  text-align: center;
  padding: 6em 0;
}

.footer .footer-contents .footer-logo {
  max-width: 300px;
  display: inline-block;
}

.footer .footer-contents .footer-desc {
  font-family: var(--serif);
  line-height: 1.5;
  color: #cbb8a7;
  margin: 4em auto;
}

.footer-contents .footer-sns .footer-sns-items {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}

.footer-sns-items .footer-sns-item > a {
  color: #cbb8a7;
  font-size: 13px;
}

@media screen and (max-width : 1012px){
  .shoes-contents .shoes-items .shoes-items-image {
    max-width: 200px;
  }
}

@media screen and (max-width : 800px) {
  .hidden {
    display: inline-block;
  }

  /* header */
  .header .header-contents {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  
  .header .header-contents .header-mobile-menubar {
    width: 30px;
    line-height: 0.5;
    z-index: 20;
  }

  .header-contents .header-mobile-menubar .menubar-line {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: var(--color);
    border-radius: 10px;
    opacity: .8;
    transition: all .3s ease;
  }

  .header-contents .header-mobile-menubar .menubar-line:last-child {
    width: 20px;
  }

  .header-contents .header-mobile-menubar.close-button {
    position: absolute;
    right: 20px;
  }

  .header-contents .header-mobile-menubar.close-button .menubar-line {
    transform: rotate(45deg);
    transform-origin: 8px;
    transition: all .3s ease;
  }

  .header-contents .header-mobile-menubar.close-button .menubar-line:last-child {
    width: 30px;
    transform: rotate(-45deg);
  }

  .header-contents .header-navigation {
    transform: translate(-100%, 0%); 
    transition: transform .3s ease-in-out;
  }

  .header-contents .header-navigation.hidden-nav {
    display: block;
    order: 2;
    min-width: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    background-color: #fff;   
    transform: translate(0%, 0%); 
    transition: transform .3s ease-in-out;
  }

  .header-navigation .header-navigation-items .close-button {
    text-align: right;
    padding: 0 20px;
  }

  .header-navigation-items .close-button > i {
    font-size: 40px;
    opacity: .8;
    padding: 20px 0;
  }

  .header-contents .header-navigation .header-navigation-items {
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 5;
    overflow: hidden; 
  }

  .header-navigation-items .header-navigation-item > a {
    display: block;
    margin-right: 0;
  }

  /* main */
  .main {
    margin-top: 0;    
    top: 70px;
  }

  .main .main-wrap .main-logo {
    top: 20px;
  }

  .main-logo > a > img {
    max-width: 320px;
  }

  /* celebrites-section */
  .celebrites-section .celebrites-contents {
    padding: 0;
    flex-wrap: wrap;
    margin: 3em auto;
  }

  .celebrites-section .celebrites-contents .celebrites-items {
    text-align: center;
  }

  .celebrites-section .celebrites-contents .celebrites-items:first-child {
    max-width: 400px;
  }

  /* collection-section */
  .collection-section {
    background-size: 300px;
  }
  .collection-section .collection-contents {
    flex-wrap: wrap;
    padding: 3em 0;
  }

  .collection-section .collection-contents .collection-items {
    flex: auto;
    width: 100%;
  }

  .collection-contents .collection-items .collection-items-text {
    max-width: 100%;
    text-align: center;
  }

  /* shoes section */
  .shoes-section .shoes-contents {
    flex-wrap: wrap;
  }
  
  .shoes-section .shoes-contents .shoes-items {
    flex: auto;
  }

  .shoes-section .shoes-contents .shoes-items:first-child {
    margin: 3em 0;
  }

  /* footer */
  .footer .footer-contents .footer-desc {
    padding: 0 2em;
  }

  .footer-contents .footer-sns .footer-sns-items {
    flex-wrap: wrap;
  }

  .footer-sns .footer-sns-items .footer-sns-item {
    flex: 1 1 33%;
    line-height: 2;
  }
}

@media screen and (max-width : 600px) {
  /* search-form */
  .serach-form-contents .search-list .search-list-item {
    flex: 1 1 33%;
  }

  .search-list .search-list-item:nth-child(4):after,
  .search-list .search-list-item:last-child:after {
    content: '/';
  }
}

@media screen and (max-width : 445px) {
  /* search-form */
  .serach-form-contents .search-list .search-list-item {
    flex: 1 1 50%;
  }
  .search-list .search-list-item:nth-child(even):after {
    content: none;
  }
}





