/* reset */
a {
  text-decoration: none;
}

/* root */
:root {
  --full-width : 100%;
  --sub-width : 90%;
  --color : #222;
  --point-color : #c7ab87;
  --san-serif : 'Noto Sans KR', sans-serif;
  --serif : 'Playfair Display', serif;
  --desc-size : 1em;
  --title-size : 1.5em;
}
/* common */
.main-wrap .section .section-title {
  font-family: var(--serif);
  font-size: var(--title-size);
  line-height: 1.2;
  color: var(--color);
  font-weight: 700;
}

.main-wrap .section img {
  width: var(--full-width);
}

.main-wrap .section .collection-button {
  display: inline-block;
  border: 1px solid var(--point-color);
  padding: 5px 20px;
  margin-top: 20px;
  color: var(--point-color);
  font-family: var(--serif);
}

.section .collection-button > i {
  vertical-align: text-top;
}

/* wrap */
.wrap {
  width: var(--full-width);
  min-height: 100%;
  box-sizing: border-box;
  font-family: var(--san-serif);
  color: var(--color);
  overflow: hidden;
}

.wrap .container {
  position: relative;
}

.hidden {
  display: none;
}

/* header */
.header {
  width: var(--full-width);
}

.header .header-contents {
  display: flex;
  align-items: center;
  padding: 1.5em 2em;
}

.header .header-contents .header-navigation {
  flex: 1;
}

.header .header-contents .header-mobile-menubar {
  width: 20px;
}

.header-contents .header-navigation .header-navigation-items {
  display: flex;
}

.header-navigation-items .header-navigation-item > a {
  color: var(--color);
  margin-right: 20px;
}

.header .header-contents .header-icon-items {
  display: flex;
  align-items: center;
}

.header-contents .header-icon-items .header-icon-item {
  display: inline-block;
  width: 20px;
}

.header-icon-item > a > img {
  width: var(--full-width);
  opacity: .8;
}

/* main */
.main {
  margin-top: 5em; 
}

.main .main-wrap {
  position: relative;
}

.main .main-wrap .main-logo {
  position: relative;
  top: 30px;
  text-align: center;
}

.main-logo > a > img {
  width: var(--full-width);
  max-width: 850px;
}

/* main-section */
.main-section > img {
  width: var(--full-width);
  max-width: 2000px;
}

/* celebrites-section */
.celebrites-section .celebrites-contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: var(--sub-width);
  margin: 0 auto;
  padding: 10em 0;
}

.celebrites-section .celebrites-contents .celebrites-items {
  box-sizing: border-box;
}

.celebrites-section .celebrites-contents .celebrites-items:nth-child(2) {
  max-width: 400px;
}

.celebrites-contents .celebrites-items .celebrites-items-text {
  padding: 30px;
}

.celebrites-items .celebrites-items-text span {
  color: var(--point-color);
  text-transform: uppercase;
}

.celebrites-items .celebrites-items-text .section-title {
  margin: 20px 0;
}

.celebrites-items .celebrites-items-text > p  {
  font-size: var(--desc-size);
  color: #666;
  line-height: 1.5;
}

/* collection-section */
.collection-section {
  background: url(../images/logo-bg.png) no-repeat;  
  background-position: bottom 50px right 30px;
  background-size: 500px;
  background-color: #f6efe8;
}

.collection-section .collection-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--sub-width);
  margin: 0 auto;
  padding: 8em 0 12em;
}

.collection-section .collection-contents .collection-items {
  position: relative;
  flex: 2 1 0;
}

.collection-section .collection-contents .collection-items:last-child {
  flex: 1 1 0;
  /* margin-left: 8em; */
  display: flex;
  justify-content: center;
}

.collection-contents .collection-items .collection-items-image {
  width: 60%;
  max-width: 700px;
  float: right;
}

.collection-contents .collection-items .collection-items-image:last-child {
  width: 45%;
  max-width: 500px;
  position: absolute;
  bottom: -80px;
}

.collection-contents .collection-items .collection-items-text{
  max-width: 300px;
}

.collection-items .collection-items-text > p {
  margin: 30px 0;
  line-height: 1.5;
  color: #666;
}

/* shoes-section */
.shoes-section .shoes-contents {
  display: flex;
  align-items: center;
}

.shoes-section .shoes-contents .shoes-items {
  flex: 1;
  text-align: center;
  box-sizing: border-box;
}

.shoes-contents .shoes-items span {
  line-height: 1.3;
}

.shoes-contents .shoes-items .shoes-items-image {
  max-width: 300px;
  margin: 30px auto;
}

/* footer */
.footer {
  background-color: #8f7e6f;
}

.footer .footer-contents {
  text-align: center;
  padding: 6em 0;
}

.footer .footer-contents .footer-logo {
  max-width: 300px;
  display: inline-block;
}

.footer .footer-contents .footer-desc {
  font-family: var(--serif);
  line-height: 1.5;
  color: #cbb8a7;
  margin: 4em auto;
}

.footer-contents .footer-sns .footer-sns-items {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}

.footer-sns-items .footer-sns-item > a {
  color: #cbb8a7;
  font-size: 13px;
}

@media (max-width : 1012px){
  .shoes-contents .shoes-items .shoes-items-image {
    max-width: 200px;
  }
}

@media (max-width : 800px) {
  .hidden {
    display: inline-block;
  }

  /* header */
  .header .header-contents {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header-contents .header-navigation {
    display: none;    
    order: 2;
    min-width: 100%;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    background: rgba(255,255,255,.7);
  }

  .header-contents .header-navigation .header-navigation-items {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 3;
  }

  /* main */
  .main {
    margin-top: 0;
  }

  .main .main-wrap .main-logo {
    top: 20px;
  }

  .main-logo > a > img {
    max-width: 320px;
  }

  /* celebrites-section */
  .celebrites-section .celebrites-contents {
    padding: 0;
    flex-wrap: wrap;
    margin: 3em auto;
  }

  .celebrites-section .celebrites-contents .celebrites-items {
    text-align: center;
  }

  .celebrites-section .celebrites-contents .celebrites-items:first-child {
    max-width: 400px;
  }

  /* collection-section */
  .collection-section {
    background-size: 300px;
  }
  .collection-section .collection-contents {
    flex-wrap: wrap;
    padding: 3em 0;
  }

  .collection-section .collection-contents .collection-items {
    flex: auto;
    width: 100%;
  }

  .collection-contents .collection-items .collection-items-text {
    max-width: 100%;
    text-align: center;
  }

  /* shoes section */
  .shoes-section .shoes-contents {
    flex-wrap: wrap;
  }
  
  .shoes-section .shoes-contents .shoes-items {
    flex: auto;
  }

  .shoes-section .shoes-contents .shoes-items:first-child {
    margin: 3em 0;
  }

  /* footer */
  .footer .footer-contents .footer-desc {
    padding: 0 2em;
  }

  .footer-contents .footer-sns .footer-sns-items {
    flex-wrap: wrap;
  }

  .footer-sns .footer-sns-items .footer-sns-item {
    flex: 1 1 33%;
    line-height: 2;
  }
}





